{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        {% for article in articles %}
        <div class="post-preview">
            <a href="{{article.id}}">
                <h2 class="post-title">
                    {{ article.title }}
                </h2>
                <h3 class="post-subtitle">
                    {{article.content|truncatechars:60}}
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on September 24, 2019</p>
        </div>
        <hr>

        {% endfor %}
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>

    </div>
</div>

{% endblock content %}